{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
<div class="example-wrapper">
<h1>Ticket List</h1>
<div class="container">
<table class="table table-hover table-striped table-light">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Label</th>
      <th scope="col">Status</th>
      <th scope="col">Description</th>
      <th scope="col">Reporter</th>
      <th scope="col">Assignee</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for ticket in tickets %}
        <tr>
            <th scope="row">{{ ticket.id }}</th>
            <td>{{ ticket.label }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.summary }}</td>
            <td>{{ ticket.reporter }}</td>
            <td>{{ ticket.assignee }}</td>
            <td>
            <a href="{{ path('show_ticket', {id: ticket.id})}}">Voir</a>
            </td>

        </tr>
    {% endfor %}    
  </tbody>
</table>
<a href="{{ path('create_ticket')}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add</a>

</div>
</div>
{% endblock %}
